{% extends 'base.html.twig' %}

{% block title %}{{ 'Present'|trans }}{% endblock %}

{% block content %}
    <div class="page d-flex flex-column">
        <div class="p-2">
            <h1>{{ event.title }}</h1>
        </div>
        <div class="p-2 flex-grow-1">
            {% set reactions = event.reactions|map(reaction => { id: reaction.id }) %}
            <div id="app" data-options="{{ options|merge({reactions: reactions})|json_encode }}">#app</div>
        </div>
        <div class="p-2">
            <div class="alert alert-warning">
                {% trans %}Do not share this page with anyone but from co-presenters. Use the “Share” button the get reactions from your audience.{% endtrans %}
            </div>
            <a class="btn btn-success btn-block" href="{{ path('event_share', {code: event.code}) }}">{{ 'Share “%event%” with your audience'|trans({'%event%': event.title }) }}</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('event/present') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('event/present') }}
{% endblock %}
